body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: black;
    color: yellow;
    padding: 0.1em;
    
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    
}

nav ul li {
    display: inline;
    margin-right: 6em;
    text-align: center;
}

nav ul li a {
    color: red;
    text-decoration: none;
}
h1{
    font-size: 5em;
    font-family: cursive;
    text-align: center;
    border-color: white;
}
a{
    font-size: 2em;
    font-family:cursive;
    text-align: center;
    border-color: white;
}
.welcome {
    background-image: url('../imagenes/fondopizza.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.about {
    background-color: black;
    padding: 50px;
}

footer {
    background-color: yellow;
    color: white;
    text-align: center;
    padding: 20px;
    
}
h2{
    background-color: black;
    border-color: yellow;
    border-style: outset;
    border-width: 0.3em;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: yellow;
    
}
h3{
    color: red;
    font-size: x-large;
}
p{
    color: yellow;
    font-size: x-large;
}
footer p{
    color: red;
}
